<app-navbar></app-navbar>

<section class="contenido">
    
    <div class="mostrador" id="mostrador">
        <h1>Catálogo de productos</h1>
        <div class="fila">
            <div class="item" *ngFor="let producto of arrayProducts" (click)="cargar(producto)">
                <div class="contenedor-foto">
                    <img src="{{producto.images![0]}}" alt="">
                </div>
                <p class="descripcion">{{ producto.title }}</p>
                <span class="precio">$ {{ producto.price }}</span>
            </div>
        </div>
    </div>

    <div class="seleccion" id="seleccion" *ngIf="productoSeleccionado">
        <div class="cerrar" (click)="cerrar()">
            &#x2715;
        </div>
        <div class="info">
            <img src="{{productoSeleccionado.images![0]}}" alt="" id="img">
            <h2 id="modelo">{{ productoSeleccionado.title }}</h2>
            <h3 id="marca">Marca: {{productoSeleccionado.brand}}</h3>
            <p id="descripcion">Descripción: {{productoSeleccionado.description }}</p>
            <span class="precio" id="precio">$ {{ productoSeleccionado.price }}</span>
            <button (click)="agregarAlCarrito(productoSeleccionado)">AGREGAR AL CARRITO</button>
        </div>
    </div>

</section>