<app-navbar></app-navbar>

<div class="div">
    <section class="navbar">
        <div>
            <h3>Categoria</h3>
            <label>
                <input type="checkbox" (change)="toggleCategory('smartphones')"><p>Smartphones</p>
            </label>
            <br>
            <label>
                <input type="checkbox" (change)="toggleCategory('laptops')"> <p>Laptops</p>
            </label>
            <br>
            <label>
                <input type="checkbox" (change)="toggleCategory('fragrances')"><p>Fragancias</p>
            </label>
            <br>
            <label>
                <input type="checkbox" (change)="toggleCategory('skincare')"><p>Cuidado de piel</p>
            </label>
            <br>
            <label>
                <input type="checkbox" (change)="toggleCategory('groceries')"><p>Comestibles</p>
            </label>
            <br>
            <label>
                <input type="checkbox" (change)="toggleCategory('home-decoration')"><p>Decoración del hogar</p>
            </label>
        </div>
    </section>

    <section class="contenido">

        <div class="encabezado">
            <h1>Catálogo de productos</h1>
            <input type="text" [(ngModel)]="busqueda"
                placeholder="Buscar un producto por nombre o marca">
        </div>

        <div class="mostrador" id="mostrador">
            <div class="fila">
                <div class="item" *ngFor="let producto of buscarProducto()"
                    (click)="cargar(producto)">
                    <div class="contenedor-foto">
                        <img src="{{producto.thumbnail}}" alt>
                    </div>
                    <p class="descripcion">{{ producto.title }}</p>
                    <span class="precio">$ {{ producto.price }}</span>
                </div>
            </div>
        </div>

        <app-footer></app-footer>
        
    </section>
</div>


