<div class="conteiner">

    <div class="product">

        <button class="close" (click)="cerrar()">X</button>

        <button class="prev-button" (click)="cambiarImagen(-1)">&#8249;</button>
        <img src="{{ data.images[currentImageIndex] }}">
        <button class="next-button" (click)="cambiarImagen(1)">&#8250;</button>
          

        <h2>{{ data.title }}</h2>

        <h3>Marca: {{data.brand}}</h3>

        <p>Descripción: {{data.description}}</p>

        <p><span>$ {{ data.price }}</span></p>

        <button (click)="irPago()"> COMPRAR </button>

        <button (click)="agregarAlCarrito()">AGREGAR AL CARRITO</button>
    </div>

</div>
