div {
    display: flex;
}

.column {
    flex: 1;
    padding: 10px;
}

p {
    text-align: center;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 6rem;
    color: #612179;
    margin: 15rem 10rem 0 0;
}

img {
    width: 40rem;
    height: 40rem;
    margin-left: 10rem;
}