<nav class="navbar">
    <button (click)="toLanding()" class="logoButton"><img src="../../../../assets/logo navbar 2.png" class="logo"></button>
    <div class="buttons">
        <button *ngIf="ocultarLogin" (click)="toLogin()">Loguear</button>
        <button *ngIf="ocultarRegister" (click)="toRegister()">Registrarse</button>
        <button class="btn-home" *ngIf="ocultarHome" (click)="toHome()"></button>
        <button *ngIf="ocultarProfile" (click)="toProfile()">{{user.name}} {{user.lastName}}</button>
        <button class="btn-cart" *ngIf="ocultarCarrito" (click)="toCart()"></button>
        <button *ngIf="ocultarContacto" (click)="toContact()">Contacto</button>
    </div>
</nav>
