<nav class="navbar">
    <button (click)="toLanding()" class="logoButton"><img src="../../../../assets/logo navbar.png" alt="" class="logo"></button>
    <div class="buttons">
        <button class="btn" *ngIf="ocultarLogin" (click)="toLogin()">Loguear</button>
        <button class="btn" *ngIf="ocultarRegister" (click)="toRegister()">Registrarse</button>
        <button class="btn" *ngIf="ocultarProfile" (click)="toProfile()">{{user.name}} {{user.lastName}}</button>
        <button class="btn" *ngIf="ocultarContacto" (click)="toContact()">Contacto</button>
    </div>
</nav>
