<app-navbar></app-navbar>

<header class="contenedor">
    <h2>Contacto</h2>
</header>

<form class="formulario">
    <fieldset>
        <legend>Tus Datos</legend>
        <div class="campo">
            <label for="nombre">Nombre: </label>
            <input type="text" id="nombre" placeholder="Ingrese nombre...">
        </div>

        <div class="campo">
            <label for="email">Email: </label>
            <input type="text" id="email" placeholder="Ingrese email...">
        </div>

        <div class="campo">
            <label for="tel">Tel: </label>
            <input type="text" id="tel" placeholder="Ingrese telefono...">
        </div>

        <div class="campo">
            <label for="asunto">Asunto: </label>
            <input type="text" id="asunto" placeholder="Ingrese asunto...">
        </div>

        <div class="campo">
            <label for="mensaje">Mensaje: </label>
            <textarea id="mensaje" cols="30" rows="10"></textarea>
        </div>

    </fieldset>
    

    <input type="submit" value="submit" class="btn" (click)="sendMessage()">

</form>

<app-footer></app-footer>