/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@1,500&display=swap');

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: white;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Chakra Petch';
}

button{
    font-family: 'Chakra Petch';
}