/* You can add global styles to this file, and also import other style files */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Chakra Petch';
}

body {
    background-repeat: no-repeat;
    background-size: cover;
    background: rgb(144, 144, 144);
    background: linear-gradient(270deg, rgba(144, 144, 144, 1) 0%, rgba(230, 230, 230, 1) 15%, rgba(255, 255, 255, 1) 50%, rgba(230, 230, 230, 1) 85%, rgba(144, 144, 144, 1) 100%);
}

button {
    font-family: 'Chakra Petch';
}